.bg-sunny {
  background-image: url("https://sgjksnpjllcugasriejo.supabase.co/storage/v1/object/sign/boyqobilov/sunnyBeatch.jpg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV8yMTcwYzY2ZC1kNzkxLTRmZWItYTQwNC02OGMzYWE2NGY0NGEiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJib3lxb2JpbG92L3N1bm55QmVhdGNoLmpwZyIsImlhdCI6MTc1MDY0ODU3MSwiZXhwIjoxNzgyMTg0NTcxfQ.iuUUaTcZ8D76Iur4dKHTkAw2oGg9pydLOw3rvHsRoPg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-cloudy {
  background-image: url("https://sgjksnpjllcugasriejo.supabase.co/storage/v1/object/sign/footbal/bulut%20bor.avif?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV8yMTcwYzY2ZC1kNzkxLTRmZWItYTQwNC02OGMzYWE2NGY0NGEiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJmb290YmFsL2J1bHV0IGJvci5hdmlmIiwiaWF0IjoxNzUwMzk5Mzc4LCJleHAiOjE3ODE5MzUzNzh9.V2UO501dKBcWakgV2nK90jEynJTnAHP62HE4Xo-cf5Q");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-snowy {
  background-image: url("https://sgjksnpjllcugasriejo.supabase.co/storage/v1/object/sign/footbal/qorli%20bor.webp?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV8yMTcwYzY2ZC1kNzkxLTRmZWItYTQwNC02OGMzYWE2NGY0NGEiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJmb290YmFsL3FvcmxpIGJvci53ZWJwIiwiaWF0IjoxNzUwMzk5NDA4LCJleHAiOjE3ODE5MzU0MDh9.rMqMYLbnDRiGGalIFEpAOj-mvASsh8bfzWnUqG8PBGg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-rainy {
  background-image: url("https://sgjksnpjllcugasriejo.supabase.co/storage/v1/object/sign/sherzodovich/yomgr%20bulut.jpg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV82NWRmZWZlYy1hNjQzLTQyYjgtOTliYy1mYTM3NDNhMzlmNWQiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJzaGVyem9kb3ZpY2gveW9tZ3IgYnVsdXQuanBnIiwiaWF0IjoxNzUxMzQ5MTgxLCJleHAiOjE3ODI4ODUxODF9.qyL-VKZQRZyHZJJIGO8_2-sgTfhd2B8Qjx7IFib57DQ");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-default {
  background-color: #1e293b;
}
