.bg-sunny {
  background-image: url("https://sgjksnpjllcugasriejo.supabase.co/storage/v1/object/sign/sherzodovich/sunnyBeatch.jpg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV82NWRmZWZlYy1hNjQzLTQyYjgtOTliYy1mYTM3NDNhMzlmNWQiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJzaGVyem9kb3ZpY2gvc3VubnlCZWF0Y2guanBnIiwiaWF0IjoxNzUxMzUxMjI0LCJleHAiOjE3ODI4ODcyMjR9.0NrNWCXgheo3xl-cScG-EeLOzKLIeKMPpC2CcBt99S8");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-cloudy {
  background-image: url("https://sgjksnpjllcugasriejo.supabase.co/storage/v1/object/sign/sherzodovich/bulut%20bor.avif?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV82NWRmZWZlYy1hNjQzLTQyYjgtOTliYy1mYTM3NDNhMzlmNWQiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJzaGVyem9kb3ZpY2gvYnVsdXQgYm9yLmF2aWYiLCJpYXQiOjE3NTEzNTExNjMsImV4cCI6MTc4Mjg4NzE2M30.syH0PCw-GuNYwgzNCuQO3Kfe73-4BEV9TlN5eHmq2m4");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-snowy {
  background-image: url("https://sgjksnpjllcugasriejo.supabase.co/storage/v1/object/sign/sherzodovich/qorli%20bor.webp?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV82NWRmZWZlYy1hNjQzLTQyYjgtOTliYy1mYTM3NDNhMzlmNWQiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJzaGVyem9kb3ZpY2gvcW9ybGkgYm9yLndlYnAiLCJpYXQiOjE3NTEzNTExMzcsImV4cCI6MTc4Mjg4NzEzN30.kCTcgNJ3ydamLMKutkUzb7JYDdQt-Aa_8LUwSud0HYI");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-rainy {
  background-image: url("https://sgjksnpjllcugasriejo.supabase.co/storage/v1/object/sign/sherzodovich/yomgr%20bulut.jpg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV82NWRmZWZlYy1hNjQzLTQyYjgtOTliYy1mYTM3NDNhMzlmNWQiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJzaGVyem9kb3ZpY2gveW9tZ3IgYnVsdXQuanBnIiwiaWF0IjoxNzUxMzQ5MTgxLCJleHAiOjE3ODI4ODUxODF9.qyL-VKZQRZyHZJJIGO8_2-sgTfhd2B8Qjx7IFib57DQ");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-default {
  background-color: #1e293b;
}
